rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /blog_posts/{blogPostId} {
      allow read: if true;
      // This is insecure for production but allows for development.
      // We will add proper authentication rules next.
      allow write: if true;
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if false; // Keep projects read-only for now
    }

    match /services/{serviceId} {
      allow read: if true;
      allow write: if false; // Keep services read-only for now
    }
    
    match /subscribers/{subscriberId} {
      // Allow creation and updates (for idempotency), and deletion for unsubscribing.
      allow create, update, delete: if true;
      // Nobody can read the subscriber list from the client-side.
      allow read: if false;
    }
  }
}
